<h3>Bank files
   
</h3>
<!-- Zero Configuration-->

<!-- ngRepeat + ngResource-->
<div class="panel panel-default">
   <!-- <div class="panel-heading">Datatables |
      <small>ngRepeat + ngResource</small>
   </div> -->
   <div class="panel-body">
      <div class="table-responsive">
         <table class="table table-bordered">
            <thead>
               <tr>
                  
                  <th>PF NO. </th>
                  <th>NAME</th>
                    <th>BANK CODE </th>
                  <th>BRANCH CODE</th>
                   <th>ACCOUNT NO. </th>
                  <th>AMOUNT</th>
                  <th>CHANNEL</th>
                 
                 
               </tr>
            </thead>
            <tbody>
               <tr>
                <td>P001</td>
                  <td>AMANI ESTHER AMALOME</td>
                 <td>03</td>
                  <td>045</td>
                  <td>12045641752</td>
                  <td>40461</td>
                  <td>EQUITY</td>
               
                  
               </tr>
               <tr>
                <td>P002</td>
                  <td>WAMAE ANDREW GACHERU</td>
                 <td>01</td>
                  <td>102</td>
                  <td>10124578741</td>
                  <td>82398</td>
                  <td>EFT</td>
               
                  
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>