<h3>Bank files
   
</h3>
<!-- Zero Configuration-->

<!-- ngRepeat + ngResource-->
<div class="page"  ng-controller="BankFilesController">
<div class="row" >
   


   <div class="col-lg-8">
      <form class="form-inline">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Period</div>
  
         <select name="period" class="slider slider-lg form-control" ng-model="period" ng-options="period.id as period.period for period in periods" >
        <option value="" disabled selected>Periods</option>
  </select>
  </div>
 
  <button ng-click="getByperiod(period)" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
  


   </div>


</div>
<br/>
<div class="panel panel-default">
   <!-- <div class="panel-heading">Datatables |
      <small>ngRepeat + ngResource</small>
   </div> -->
   <div class="panel-body">
      <div class="table-responsive">
         <table class="table table-bordered">
            <thead>
               <tr>
                  
                  <th>PF NO. </th>
                  <th>NAME</th>
                    <th>BANK CODE </th>
                  <th>BRANCH CODE</th>
                   <th>ACCOUNT NO. </th>
                  <th>AMOUNT</th>
                  <th>CHANNEL</th>
                 
                 
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="bankfile in bankfiles.employeeBankFileReportList">
                <td>{{bankfile.employeeNumber}}</td>
                  <td>{{bankfile.employeeName}}</td>
                 <td>{{bankfile.bankCode}}</td>
                  <td>{{bankfile.branchCode}}</td>
                  <td>{{bankfile.accountNumber}}</td>
                  <td>{{bankfile.amount}}</td>
                  <td>{{bankfile.channel}}</td>
               
                  
               </tr>
            
            </tbody>
         </table>
      </div>
   </div>
</div>
</div>