<h3>Bank files
   
</h3>
<!-- Zero Configuration-->

<!-- ngRepeat + ngResource-->
<div class="page"  ng-controller="BankFilesController">
<div class="row" >
   


   <div class="col-lg-8">
    <div class="panel-heading">
     <div class="clearfix" ng-controller="DashboardController">
               <p class="pull-left mr"><b>Period:</b> </p>
               <p class="pull-left mr">{{dashboard.currentPeriod.month}} {{dashboard.currentPeriod.year}}</p>
              
            </div>
   </div>
    

   </div>


</div>
<br/>
<div class="panel panel-default">
   <!-- <div class="panel-heading">Datatables |
      <small>ngRepeat + ngResource</small>
   </div> -->
   <div class="panel-body">
      <div class="table-responsive">
         <table class="table table-bordered">
            <thead>
               <tr>
                  
                  <th>PF NO. </th>
                  <th>NAME</th>
                    <th>BANK CODE </th>
                  <th>BRANCH CODE</th>
                   <th>ACCOUNT NO. </th>
                  <th>AMOUNT</th>
                
                 
                 
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="bankfile in bankfiles.employeeBankFileReportList">
                <td>{{bankfile.employeeNumber}}</td>
                  <td>{{bankfile.employeeName}}</td>
                 <td>{{bankfile.bankCode}}</td>
                  <td>{{bankfile.branchCode}}</td>
                  <td>{{bankfile.accountNumber}}</td>
                  <td>{{bankfile.amount}}</td>
              
               
                  
               </tr>
            
            </tbody>
         </table>
      </div>
   </div>
</div>
</div>