<h3>Batch inputs 
</h3>
  
<div class="panel">
   <div class="panel-body" ng-controller="EmpBulkTransController">
      <div class="clearfix">

 <button class="btn btn-primary pull-left mr" type="button" ng-click="open()">
      <em class="fa fa-plus-circle fa-fw "></em>Import Employees Data</button> &nbsp; &nbsp; 
<a href="server/jm.csv" class="btn btn-primary pull-left mr" type="button"> 

      <em class="fa fa-download fa-fw "></em>Download the csv format</a>
      </div>

     
 <script type="text/ng-template" id="EmpBulkTransaction.html">
              <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Upload</h4></div>
 <div class="modal-body">

    <form class="form-horizontal" ng-submit="submitCostCentre()">

   <div class="col-lg-9">
      
    <input class="form-control" filestyle="" type="file" data-button-text="Browse" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="form.uploader" />
  
                </div> 
<br/>
<br/>
<br/>
     <div class="clearfix">
       
     <button class="btn btn-info btn-s" type="button" >
                     <span class="icon-cloud-upload mr"></span>Upload</button>
                  <button class="btn btn-warning btn-s" type="button">
                     <span class="icon-close mr"></span>Cancel</button>

      </div>
