
<h3>users
   
</h3>

<div class="panel panel-default">
   
   <div class="panel-body">
   <div ng-controller="cModalController">
  
      <!-- <form class="form-horizontal" ng-submit="updatePost()">
               
               <div class="form-group">
                  <label class="col-lg-3 control-label">Code</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="cat_code" ng-model="oneuser.name"  placeholder=" "/>
                  </div>
               </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Descriptions</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="cat_description"  ng-model="oneuser.username" placeholder="Descriptions"/>
                  </div>
               </div>
             
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-lg" type="submit">Done</button>
                  </div>
               </div>
            </form>
 --><form class="form-horizontal" ng-submit="updatePost()">

               
               <div class="form-group">
                  <label class="col-lg-3 control-label"> Group Code</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="cat_code" ng-model="oneuser.id"  placeholder="Group Code"/>
                  </div>
               </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Descriptions</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="cat_description" ng-model="oneuser.email"  placeholder="Descriptions"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-3 control-label"> Annual Leave Entitlement
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="a_leave" ng-model="oneuser.username"  placeholder="Group Name"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-3 control-label"> Sick Leave Entitlement
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="s_leave" ng-model="oneuser.name"  placeholder="Group Name"/>
                  </div>
               </div>

              
              
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-lg" type="submit">{{buttonText}}</button>
                  </div>
               </div>
            </form>
   </div>
   </div>

</div>