<h3>Payroll Company Details
   <small>Company Details Relating to Payroll</small>


</h3>

      <!-- START panel-->
      <div class="panel panel-default" id="panelDemo15">
         <div class="panel-heading"></div>
         <div class="panel-body">
            <uib-tabset type="pills">
               <uib-tab heading="Departments">

               <div class="col-lg-8 companydetails"><div class="panel panel-default">
         <div class="panel-heading">Company information</div>
         <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-lg-3 control-label">PIN number 
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="pin_number" placeholder="PIN number"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-3 control-label">NSSF number</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="nssf_number" placeholder="NSSF number"/>
                  </div>
               </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">NHIF number</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="pay_points" placeholder="Pay points"/>
                  </div>
               </div>
            <div class="form-group">
                        <label class="col-sm-3 control-label">Pay Frequency</label>
                        <div class="col-lg-9">
                    <div class="checkbox c-checkbox needsclick">
                              <label class="needsclick">
                                 <input class="needsclick" type="checkbox" required="" name="monthly" ng-model="monthly" />
                                 <span class="fa fa-check"></span>Monthly</label>
                           </div>
                           <span class="text-danger" ng-show="form.validateInput('checkbox', 'required')">This field is required</span>

                          <div class="checkbox c-checkbox needsclick">
                              <label class="needsclick">
                                 <input class="needsclick" type="checkbox"  name="weekly" ng-model="weekly" disabled="" />
                                 <span class="fa fa-check"></span>Weekly</label>
                           </div>
                          <!--  <span class="text-danger" ng-show="form.validateInput('checkbox', 'required')">This field is required</span> -->
                          <div class="checkbox c-checkbox needsclick">
                              <label class="needsclick">
                                 <input class="needsclick" type="checkbox"  name="fortnight" ng-model="fortnight" disabled="" />
                                 <span class="fa fa-check"></span>Fortnight</label>
                           </div>
                          <!--  <span class="text-danger" ng-show="form.validateInput('checkbox', 'required')">This field is required</span> -->
                  </div>
                           
                     </div>
              <div class="form-group">
                  <label class="col-lg-3 control-label">Work days 
 

                     </label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="work_days 
 
                  " placeholder="Work days"/>
                  </div>
               </div>
              
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-lg" type="submit">Done</button>
                  </div>
               </div>
            </form>
         </div>
         </div>
      </div>
               </uib-tab>
               
               <uib-tab heading="Cost Centres"> <div class="col-lg-8 companydetails"><div class="panel panel-default">
         <div class="panel-heading">Add new paypoint</div>
         <div class="panel-body">
           <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Name
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="paypoint_name" placeholder="Category name"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-3 control-label">Code</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="paypoint_code" placeholder="Category code"/>
                  </div>
               </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Descriptions</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="paypoint_desc" placeholder="Descriptions"/>
                  </div>
               </div>

              
              
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-lg" type="submit">Done</button>
                  </div>
               </div>
            </form>
         </div>
         </div>
      </div></uib-tab>

      <uib-tab heading="Paypoints"> <div class="col-lg-8 companydetails"><div class="panel panel-default">
         <div class="panel-heading">Add new paypoint</div>
         <div class="panel-body">
           <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Name
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="paypoint_name" placeholder="Category name"/>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-3 control-label">Code</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="paypoint_code" placeholder="Category code"/>
                  </div>
               </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Descriptions</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="paypoint_desc" placeholder="Descriptions"/>
                  </div>
               </div>

              
              
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-lg" type="submit">Done</button>
                  </div>
               </div>
            </form>
         </div>
         </div>
      </div></uib-tab>
               

            </uib-tabset>
         </div>
      </div>
      <!-- END panel-->