

<h3>Employees
    <div class="clearfix">
     
      <a class="btn btn-primary pull-right mr"  ui-sref="app.batchemployees" >
      <em class="fa fa-plus-circle fa-fw mr"></em>Batch Entry</a>
          
         <a class="btn btn-primary pull-right mr"
        ui-sref="app.employee-setup">  
        <em class="fa fa-plus-circle fa-fw mr"></em>Add</a>
        
      </div>

      
</h3>

<div class="panel panel-default">
   
   <div class="panel-body">
      <div ng-controller="EmployeesController">

    
         <table class=" table row-border hover" >
            <thead>
               <tr>
                  
                  <th>First Name </th>
                  <th>Last Name </th>
                  <th>Employee Number</th>
                  <th>Department</th>
                  <th>Action</th>
              

                 
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="employee in employees">
                  <td>{{ employee.firstName}}</td>
                  <td>{{ employee.lastName}}</td>
                  <td>{{employee.employeeNumber }}</td>
                  <td>{{employee.department}}</td>
                  <td> 
                    <div class="buttons" >
                        <a class="btn btn-info pull-left mr"  ui-sref="app.employeeinfo({Employee:employee.id})">Details 
                        </a>
                     <a class="btn btn-primary" title="edit"
                          ui-sref="app.employee-edit({EmployeeId:employee.id})">  <em class="fa fa-pencil"></em></a>
                       
                        <button  class="btn btn-sm btn-danger"  ng-click="delete(employee)" title="Delete">
                          <em class="fa fa-trash"></em>
                        </button>
                      </div>

                 </td> 

                  
               </tr>
              <!--  <td ng-controller="CreateEmplController as  cat"> 
<button class="btn btn-primary" ng-click="cat.show()" >Add</button></td> -->
            </tbody>
         </table>



      
</div> 
      </div>
   </div>




