    
<h3>Employee payroll profile
   <small> 
</small>
</h3>
<div class="row">
   <div class="col-md-9">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Earnings</h3>
         </div>
         <div class="panel-body">
         <div class="row" ng-controller="ModalController as  mod">
         <div class="form-group " >
                  <label class="col-lg-2 control-label">Basic Earnings
                   </label>
                  <div class="col-lg-2">
                    <button class="btn btn-primary" ng-click="mod.open()">+</button>
                  </div>
                  </div>

               </div>
             <br/>
                <div class="row" ng-controller="ModalController as  mod">
         <div class="form-group " >
                  <label class="col-lg-2 control-label">Allowances
                   </label>
                  <div class="col-lg-2">
                    <button class="btn btn-primary" ng-click="mod.open()">+</button>
                  </div>
                  </div>

               </div>
               <br/>
                <div class="row" ng-controller="ModalController as  mymod">
      <div class="form-group">
                  <label class="col-lg-2 control-label">Benefits
                   </label>
                  <div class="col-lg-2">
                    <button class="btn btn-primary" ng-click="mymod.show()">+</button>
                  </div>
               </div>
                            
            
     
   </div>
         


              
               <br/>
               
            <br/>
           
           
         </div>
      </div>
      <!-- END panel-->
   </div>

   <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Payroll Settings</h3>
         </div>
         <div class="panel-body">
             <button class="mb-sm btn btn-default" type="button">All Details</button>
            
           
         </div>
      </div>
      <!-- END panel-->
     
   </div>
   <div class="col-md-9">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            
         </div>
         <div class="panel-body " ng-controller="ModalController as  statutory">
         <div class="form-group " >
                  <label class="col-lg-2 control-label"> Statutory
                   </label>
                  <div class="col-lg-2">
                    <button class="btn btn-primary" ng-click="statutory.showStatutory()">+</button>
                  </div>
                  </div>
        
        
           
         </div>
      </div>
      <!-- END panel-->
     
   </div>



</div>
<!-- END row-->
<!-- START row-->
<div class="row">
<div class="col-md-9">
      <!-- START panel-->
      <div class="panel panel-default">
         <!-- <div class="panel-heading">
            <h3 class="panel-title">Loans</h3>  
         </div> -->
         <div class="panel-body " ng-controller="ModalController as  myloans">
         <div class="form-group " >
                  <label class="col-lg-2 control-label">Add loan
                   </label>
                  <div class="col-lg-2">
                    <button class="btn btn-primary" ng-click="myloans.showloans('lg')">+</button>
                  </div>
                  </div>
        
        
           
         </div>
      </div>
      <!-- END panel-->
     
   </div>
   </div>


<div class="row">
<div class="col-md-9">
      <!-- START panel-->
      <div class="panel panel-default">
         <!-- <div class="panel-heading">
            <h3 class="panel-title">Pension
         </div> -->
        <div class="panel-body " ng-controller="ModalController as  pension">
         <div class="form-group " >
                  <label class="col-lg-2 control-label"> pension
                   </label>
                  <div class="col-lg-2">
                    <button class="btn btn-primary" ng-click="pension.showpension()">+</button>
                  </div>
                  </div>
        
        
           
         </div>
      </div>
      <!-- END panel-->
     
   </div>
   </div>

<!--templates-->
<script type="text/ng-template" id="/myModalContent.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Add NSSF</h4></div><div class="modal-body"><!-- START panel-->
<div class="container-fluid" ng-controller="FormValidationController as form">
<div class="panel panel-default">
   <div class="panel-heading"> <h3 class="panel-title">New payroll item</h3> </div>
    <div class="panel-body">
            <form class="form-validate form-horizontal" name="form.formValidate" ng-submit="form.submitForm()" novalidate="">
              
            
               <div class="form-group">
                  <label class="col-lg-4 control-label">Basic salary
                   </label>
                  <div class="col-lg-6">
                     <input class="form-control" type="text" name="basic_salary" placeholder="Basic salary
                   " />
                  </div>
               </div>


               <div class="form-group">
                  <label class="col-lg-4 control-label">Bonus

                 </label>
                  <div class="col-lg-6">
                     <input class="form-control" type="text" name="bonus
" placeholder="Bonus
" />
                  </div>
               </div>
<div class="form-group">
                  <label class="col-lg-4 control-label">Overtime

                 </label>
                  <div class="col-lg-6">
                     <input class="form-control" type="text" name="overtime
" placeholder="Overtime
" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-4 control-label">Leave

                 </label>
                  <div class="col-lg-6">
                     <input class="form-control" type="text" name="overtime
" placeholder="Leave
" />
                  </div>
               </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">Per diem

                 </label>
                  <div class="col-lg-6">
                     <input class="form-control" type="text" name="overtime
" placeholder="Per diem
" />
                  </div>
               </div>


               
            
              
                     
              <div class="form-group">
                  <div class="col-lg-offset-4 col-lg-6">
                  <button class="btn btn-sm btn-default" type="submit">Submit</button>
                   </div>
               </div>
            </form>
         </div>
</div>
</div>

<!-- END panel--></div><div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">OK</button></div>
         </script>


<!-- benefits template -->
   <script type="text/ng-template" id="ModalContent.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Benefits</h4></div><div class="modal-body"><!-- START panel-->
 Benefits modal

<!-- END panel--></div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">OK</button></div>
         </script>

         <!-- statutory template -->
   <script type="text/ng-template" id="StatutoryModalContent.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Add statutory</h4></div><div class="modal-body"><div class="container-fluid" ng-controller="FormValidationController as form">
<div class="panel panel-default">
   <div class="panel-heading"> <h3 class="panel-title">New statutory item</h3> </div>
    <div class="panel-body">
            <form class="form-validate form-horizontal" name="form.formValidate" ng-submit="form.submitForm()" novalidate="">
              
            
               <div class="form-group">
                  <label class="col-lg-4 control-label">Statutory Name
                   </label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" name="statutory_name" placeholder="Statutory Name
                   " />
                  </div>
               </div>


               <div class="form-group">
                  <label class="col-lg-4 control-label">Statutory Number

                 </label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" name="statutory_number
" placeholder="Statutory Number
" />
                  </div>
               </div>
<div class="form-group">
                  <label class="col-lg-4 control-label">Amount

                 </label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" name="statutory_amount
" placeholder="Amount
" />
                  </div>
               </div>
               

<div class="form-group">
                  <label class="col-lg-4 control-label">Voluntary Amount

                 </label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" name="statutory_amount
" placeholder="Amount
" />
                  </div>
               </div>

               
            
              
                     
              <div class="form-group">
                  <div class="col-lg-offset-4 col-lg-8">
                  <button class="btn btn-lg btn-info" type="submit">Save</button>
                   <button class="btn btn-lg btn-info" type="submit">Save and Add More</button>
                    <button class="btn btn-lg btn-info" type="submit">Cancel</button>
                   </div>
               </div>
            </form>
         </div>
</div>
</div></div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">OK</button></div>
         </script>
         <!-- loans template -->
   <script type="text/ng-template" id="loansModalContent.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Add Loans</h4></div><div class="modal-body"><div class="container-fluid" ng-controller="FormValidationController as form">
<div class="panel panel-default">
   <div class="panel-heading"> <h3 class="panel-title">New loan item</h3> </div>
    <div class="panel-body">
            <form class="form-validate form-horizontal" name="form.formValidate" ng-submit="form.submitForm()" novalidate="">
              
            
               <div class="form-group">
                  <label class="col-lg-4 control-label">Loan Name
                   </label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" name="loan_name" placeholder="Statutory Name
                   " />
                  </div>
               </div>


               <div class="form-group">
                  <label class="col-lg-4 control-label">Lender's Name

                 </label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" name="loan_lender
" placeholder="Lender's Name
" />
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-lg-4 control-label">Lender's  Number

                 </label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" name="lender_number
" placeholder="Lender's  Number
" />
                  </div>
               </div>
<div class="form-group">
                  <label class="col-lg-4 control-label">Amount

                 </label>
                  <div class="col-lg-8">
                     <input class="form-control" type="text" name="loan_amount
" placeholder="Amount
" />
                  </div>
               </div>
               



               
            
              
                     
              <div class="form-group">
                  <div class="col-lg-offset-4 col-lg-8">
                  <button class="btn btn-lg btn-info" type="submit">Save</button>
                   <button class="btn btn-lg btn-info" type="submit">Save and Add More</button>
                    <button class="btn btn-lg btn-info" type="submit">Cancel</button>
                   </div>
               </div>
            </form>
         </div>
</div>
</div></div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">OK</button></div>
         </script>

          <!-- loans template -->
   <script type="text/ng-template" id="PensionModalContent.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Add pension</h4></div><div class="modal-body"><!-- START panel-->
 loans  modal

<!-- END panel--></div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">OK</button></div>
         </script>