<h3>

  

  
   Closing The Month</h3>
<div class="panel">
   <div class="panel-body">
     <!--  <button class="pull-right btn btn-default btn-sm" type="button">Copy this invoice</button>
      <h3 class="mt0">Invoice 00004879</h3>
      <hr/> -->
     
       <div class="row mb-lg companydetails">
         <div class="col-lg-4 col-xs-6  pv">
            <div class="row">
               
               <div class="col-md-10">
             
           
            <div class="clearfix">
               <h3 class="pull-left mr">Current Period  </h3>
               <h3 class="pull-left mr">May 2017</h3>
              
            </div>
          
                  </div>
            </div>
         </div>
         </div>

        
         <div class="col-md-4">
         <div class="clearfix1">
        
         <button class="btn btn-primary pull-left" type="button">End Month</button>
          <!-- <uib-progressbar class="progress-striped" value="22" type="warning">22%</uib-progressbar> -->
         </div>
         </div>
     
      
    
   </div>
</div>