<h3>Gl Mapping</h3>




   <div class="container-fluid" ng-controller="GlmappingController">




  <div class="panel panel-default">
         <div class="panel-heading"><div class="buttons" >
 <button class="btn btn-info pull-right mr" type="button" ng-click="open()">Add New</button>

            </div></div>
            <div class="panel-body" >
         <div class="row">
           <div class="col-md-10">
                   <div class="clearfix">
          <table class="table table-bordered-white"  >
         <thead>
          <tr>
           <th> Mapping Code</th>
           <th>Mapping Description</th>

            <th> General Ledger Code</th>
           <th>Payroll Code</th>
            <th> DR/CR</th>
           <th>Cost Centre</th>
        
           <th>Action</th>
       
         </tr>
       </thead>
       <tbody>
        <tr >
        
    
            <td></td>
              <td></td>
                <td></td> 

                  <td></td>

                    <td></td>

                  <td></td>

        

          <td>
            <div class="buttons" >
              
                   <button class="btn btn-sm btn-info  mr" type="button" ng-click="show(task)"><em class="fa fa-pencil"></em></button>
                  <button class="btn btn-sm btn-danger mr"  ng-click="delete(task)" title="Delete">
                    <em class="fa fa-trash"></em>

         
                  
                      </div>
                    </td>          
                  </tr>



                </tbody>
              </table>
            </div>
          </div>
            
               
            <br/>
           
                 
          </div>
           
    

               </div>
             <br/>
              

          <script type="text/ng-template" id="newgGLMapping.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">New GLMapping</h4></div>
            <div class="modal-body" ng-controller="GlmappingController"><!-- START panel-->

 <form class="form-horizontal" name="glform" novalidate=""  >
    <div class="form-group">
                  <label class="col-lg-3"> Mapping Code
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="mappingCode" ng-model="gl.mappingCode" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder=" Mapping Code"/>
                       <span class="text-danger" ng-show="glform.mappingCode.$dirty &amp;&amp; glform.mappingCode.$error.required">This field is required</span>
               <span class="text-danger" ng-show="glform.mappingCode.$dirty &amp;&amp; glform.mappingCode.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>
               
                <div class="form-group">
                  <label class="col-lg-3"> Mapping Description
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="description" ng-model="gl.description" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder=" Mapping Description"/>
                       <span class="text-danger" ng-show="glform.description.$dirty &amp;&amp; glform.description.$error.required">This field is required</span>
               <span class="text-danger" ng-show="glform.description.$dirty &amp;&amp; glform.description.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>

                   <div class="form-group">
                  <label class="col-lg-3">  General Ledger Code
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="glCode" ng-model="gl.glCode" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder="General Ledger Code"/>
                       <span class="text-danger" ng-show="glform.mappingCode.$dirty &amp;&amp; glform.glCode.$error.required">This field is required</span>
               <span class="text-danger" ng-show="glform.glCode.$dirty &amp;&amp; glform.glCode.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>

                   <div class="form-group">
                  <label class="col-lg-3">Payroll Code
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="payrollCode" ng-model="gl.payrollCode" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder="Payroll Code"/>
                       <span class="text-danger" ng-show="glform.payrollCode.$dirty &amp;&amp; glform.payrollCode.$error.required">This field is required</span>
               <span class="text-danger" ng-show="glform.payrollCode.$dirty &amp;&amp; glform.payrollCode.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>

                   <div class="form-group">
                  <label class="col-lg-3">  DR/CR
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="ledgerType" ng-model="gl.ledgerType" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder=" DR/CR"/>
                       <span class="text-danger" ng-show="glform.ledgerType.$dirty &amp;&amp; glform.ledgerType.$error.required">This field is required</span>
               <span class="text-danger" ng-show="glform.ledgerType.$dirty &amp;&amp; glform.ledgerType.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>
                   <div class="form-group">
                  <label class="col-lg-3"> Cost Centre
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="costCentre" ng-model="gl.costCentre" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/" placeholder=" Cost Centre"/>
                      
               <span class="text-danger" ng-show="glform.costCentre.$dirty &amp;&amp; glform.costCentre.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>
    

           
              
             
            
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-sm mr" ng-disabled="glform.$invalid" ng-click="submitGl(gl)">Save and New</button>
                         <button class="btn btn-info btn-sm mr" ng-disabled="glform.$invalid" ng-click="submitCloseGl()">Save and Close</button>
                      <button class="btn btn-warning btn-sm" type="reset">Reset</button>
                  </div>
               </div>
               
                      <div class="text-center text-success" margin-top="md" ng-show="SuccessMsg">{{SuccessMsg}}</div>
             <div class="text-center text-danger"  margin-top="md" ng-show="errorMsg">{{errorMsg}}</div>
            </form>
<!-- END panel--></div><div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>
         </script>


             <script type="text/ng-template" id="editgGLMapping.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Edit GlMapping</h4></div><div class="modal-body"  ng-controller="GlmappingController"><!-- START panel-->

<form class="form-horizontal" name="glform" novalidate=""  >
    <div class="form-group">
                  <label class="col-lg-3"> Mapping Code
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="mappingCode" ng-model="gl.mappingCode" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder=" Mapping Code"/>
                       <span class="text-danger" ng-show="glform.mappingCode.$dirty &amp;&amp; glform.mappingCode.$error.required">This field is required</span>
               <span class="text-danger" ng-show="glform.mappingCode.$dirty &amp;&amp; glform.mappingCode.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>
               
                <div class="form-group">
                  <label class="col-lg-3"> Mapping Description
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="description" ng-model="gl.description" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder=" Mapping Description"/>
                       <span class="text-danger" ng-show="glform.description.$dirty &amp;&amp; glform.description.$error.required">This field is required</span>
               <span class="text-danger" ng-show="glform.description.$dirty &amp;&amp; glform.description.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>

                   <div class="form-group">
                  <label class="col-lg-3">  General Ledger Code
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="glCode" ng-model="gl.glCode" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder="General Ledger Code"/>
                       <span class="text-danger" ng-show="glform.mappingCode.$dirty &amp;&amp; glform.glCode.$error.required">This field is required</span>
               <span class="text-danger" ng-show="glform.glCode.$dirty &amp;&amp; glform.glCode.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>

                   <div class="form-group">
                  <label class="col-lg-3">Payroll Code
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="payrollCode" ng-model="gl.payrollCode" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder="Payroll Code"/>
                       <span class="text-danger" ng-show="glform.payrollCode.$dirty &amp;&amp; glform.payrollCode.$error.required">This field is required</span>
               <span class="text-danger" ng-show="glform.payrollCode.$dirty &amp;&amp; glform.payrollCode.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>

                   <div class="form-group">
                  <label class="col-lg-3">  DR/CR
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="ledgerType" ng-model="gl.ledgerType" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder=" DR/CR"/>
                       <span class="text-danger" ng-show="glform.ledgerType.$dirty &amp;&amp; glform.ledgerType.$error.required">This field is required</span>
               <span class="text-danger" ng-show="glform.ledgerType.$dirty &amp;&amp; glform.ledgerType.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>
                   <div class="form-group">
                  <label class="col-lg-3"> Cost Centre
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="costCentre" ng-model="gl.costCentre" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/" placeholder=" Cost Centre"/>
                      
               <span class="text-danger" ng-show="glform.costCentre.$dirty &amp;&amp; glform.costCentre.$error.pattern"> No special characters allowed </span>
                  </div>
               </div>
    

           
              
             
            
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-sm mr" ng-disabled="glform.$invalid" ng-click="updateGl(gl)">Save and New</button>
                     
                
                  </div>
               </div>
               
                      <div class="text-center text-success" margin-top="md" ng-show="SuccessMsg">{{SuccessMsg}}</div>
             <div class="text-center text-danger"  margin-top="md" ng-show="errorMsg">{{errorMsg}}</div>
            </form>
<!-- END panel--></div><div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>
         </script>
      </div>
       
</button>









