<h3>
  HELB Report</h3>

<div class="helb" ng-controller="HelbController">
<div class="row" >
   


   <div class="col-lg-8">
      <form class="form-inline">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Period</div>
  
         <select name="period" class="slider slider-lg form-control" ng-model="user.period" ng-options="period.id as period.period for period in periods" >
        <option value="" disabled selected>Periods</option>
  </select>
  </div>
 
  <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
  


   </div>


</div>

<div class="panel">
   <div class="panel-body">
     <!--  <button class="pull-right btn btn-default btn-sm" type="button">Copy this invoice</button>
      <h3 class="mt0">Invoice 00004879</h3>
      <hr/> -->
      <div class="row mb-lg">
      
   <div class="col-lg-12">
      
         <table class="table table-bordered-white " >
            
            <tbody >
               <tr>
                  <td >NAME OF EMPLOYER:</td>
                  <td >XYZ LIMITED</td>
                  
                  <td >EMPLOYER PIN NO:</td>
                  <td >P051391544V</td>
                  
               </tr>
               <tr>
                 
                 
                  <td >POSTAL ADDRESS </td>
                  <td >20744 - 00200 NAIROBI</td>

                  <td >EMPLOYER HELB CODE NO :</td>
                  <td >89911</td>
                  
               </tr>
              
            <tr>
                 
                 
                  <td >TELEPHONE: </td>
                  <td >020-2066527</td>
                  <td >PAYROLL MONTH :</td>
                  <td >January-17</td>
                  
               </tr>
               <tr>
                 
                 
                  <td >E-MAIL:</td>
                  <td >info@xyz.co.ke</td>
                  <td ></td>
                  <td ></td>
                  
               </tr>
                
                  
            </tbody>
         </table>
             
   </div>
   
         <!-- <div class="col-lg-6 col-xs-6 br pv">
            <div class="row">
              
               <div class="col-md-10">
                   <div class="clearfix">
               <p class="pull-left">NAME OF EMPLOYER</p>
               <p class="pull-right mr">XYZ LIMITED</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">POSTAL ADDRESS </p>
               <p class="pull-right mr">20744 - 00200 NAIROBI</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">TELEPHONE:</p>
               <p class="pull-right mr">020-2066527</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">E-MAIL:</p>
               <p class="pull-right mr">info@xyz.co.ke</p>
            </div>
            </div>
            </div>
         </div> -->
        
         <!-- <div class="clearfix hidden-md hidden-lg">
            <hr/>
         </div>
         <div class="col-lg-6 col-xs-6 br pv">
            <div class="clearfix">
               <p class="pull-left">EMPLOYER PIN NO:</p>
               <p class="pull-right mr">P051391544V</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">EMPLOYER HELB CODE NO :</p>
               <p class="pull-right mr">89911</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">PAYROLL MONTH :</p>
               <p class="pull-right mr">January-17</p>
            </div>
         </div> -->
      </div>
      <div class="table-responsive table-bordered mb-lg">
      <h3 class="mt0">PAYMENT DETAILS</h3>
         <table class="table">
            <thead>
               <tr>
                  <th>S/NO</th>
                  <th>PAYROLL NO</th>
                  <th>NAME  OF LOANEE</th>
                  <th>UNIVERSITY REG. NO</th>
                  <th >DENTITY NUMBER</th>
                  <th>AMOUNT DEDUCTED</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>1</td>
                  <td>P001</td>
                  <td>AMANI ESTHER NAMALOME</td>
                  <td>D33/2545/2012</td>
                  <td>25478963</td>
                  <td>5000</td>
               </tr>
             <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>TOTAL DEDUCTIONS (KSHS.)</td>
                  <td>5000</td>
               </tr>
               
               
            </tbody>
         </table>
      </div>
      <div class="row">
   <div class="col-lg-12">
      
         <table class="table table-bordered-white " >
            
            <tbody >
               <tr>
                  <td >Paid by cheque No:</td>
                  <td >----------------------</td>
                 
                  
                  <td >Dated:</td>
                  <td >-----------------------</td>
                  <td >Paid in By:</td>
                  <td >-----------------------</td>
               </tr>
               <tr>
                 
                 
                  <td >HELB Receipt No. Issued:</td>
                  <td >-----------------------</td>
                  <td >Date of Receipt :</td>
                  <td >-----------------------</td>
                  <td >Receipted By:</td>
                  <td >-----------------------</td>
               </tr>
              
            
               
                
                  
            </tbody>
         </table>
             
   </div>
   </div>
    
     <!--  <div class="row mb-lg">
         <div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
              
            <div class="col-md-10">
                   <div class="clearfix">
               <p class="pull-left">Paid by cheque No: </p>
               <p class="pull-right mr">---------------------</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">HELB Receipt No. Issued: </p>
               <p class="pull-right mr">---------------------</p>
            </div>
           
            </div>
            </div>
         </div>
        
         <div class="clearfix hidden-md hidden-lg">
            <hr/>
         </div>
         <div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
              
              <div class="col-md-10">
                   <div class="clearfix">
               <p class="pull-left">Dated: </p>
               <p class="pull-right mr">---------------------</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Date of Receipt </p>
               <p class="pull-right mr">---------------------</p>
            </div>
           
            </div>
            </div>
         </div>
        
         <div class="clearfix hidden-md hidden-lg">
            <hr/>
         </div><div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
              
               <div class="col-md-10">
                   <div class="clearfix">
               <p class="pull-left">Paid in by: </p>
               <p class="pull-right mr">---------------------</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Receipted By: </p>
               <p class="pull-right mr">---------------------</p>
            </div>
           
            </div>
            </div>
         </div>
        
        
         
      </div> -->
      <hr class="hidden-print" />
      <div class="clearfix">
         <button class="btn btn-info pull-left mr" type="button">pdf</button>
         <button class="btn btn-default pull-left mr" type="button" onclick="window.print();">Print</button>
         <button class="btn btn-success pull-left mr" type="button">Mail</button>
      </div>
   </div>
</div>
</div>