<!-- <h3>
   <button class="btn btn-primary pull-right" type="button">
      <em class="fa fa-plus-circle fa-fw mr-sm"></em>New Invoice</button>Invoice</h3> -->
<div class="panel">
   <div class="panel-body">
     
     
      <div class="table-responsive ">
         <table class="table table-bordered">
           <!--  <thead>
               <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
 -->            <tbody>

               <tr>
                  <td colspan="5"><b>KENYA REVENUE AUTHORITY</b></td>
                </tr>
                <tr>
                  <td colspan="5"><b>DOMESTIC TAXES DEPARTMENT</b></td>
                </tr>
                <tr>
                  <td colspan="5">P.A.Y.E. EMPOLER'S CERTIFICATE YEAR 2015</td>
                </tr>
                <tr>
                  <td colspan="5">FORM P.10</td>
                </tr>
                <tr>
                  <td colspan="5" height="30"></td>
                </tr>
                <tr>
                  <td>Employer's Name </td>
                  <td>XYZ LIMITED</td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td>Employer's P.I.N. </td>
                  <td>P051393868P </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="5" height="30"></td>
                </tr>
                 <tr>
                  <td>To Senior Assistant Commissioner</td>
                </tr>
                 <tr>
                  <th>Month</th>
                  <th>P.A.Y.E. Tax</th>
                  <th>Audit Tax, Interest/ Penalty</th>
                  <th>Fringe Benefit Tax</th>
                  <th>Date Paid ( Per Receiving Bank Stamp)</th>
               </tr>
                <tr>
                  <th></th>
                  <th>(KES)</th>
                  <th>(KES)</th>
                  <th>(KES)</th>
                  <th></th>
               </tr>
               <tr>
                  <td>2002</td>
                  <td>Iphone 6s - 128Gb</td>
                  <td>5</td>
                  <td>$ 500</td>
                  <td>$ 2500</td>
               </tr>
               <tr>
                  <td>3010</td>
                  <td>Ipad 11z - 512Gb</td>
                  <td>1</td>
                  <td>$ 650</td>
                  <td>$ 650</td>
               </tr>
               <tr>
                  <td>3009</td>
                  <td>iMac ProRetina 17</td>
                  <td>6</td>
                  <td>$ 1100</td>
                  <td>$ 6600</td>
               </tr>

               <tr>
                  <td colspan="5" height="30"></td>
                </tr>
               <tr>
                  <td colspan="5"><b>We/I forward herewith tax deduction cards (P9) showing the total tax deducted (as listed on P.10A) amounting to KES 133,500</b></td>
                </tr>
                <tr>
                  <td ><b>NOTE:
                </b></td>
                     <td colspan="4"><b>
                 </b></td>
                </tr>
                <tr>
                  <td colspan="5">(1) Attach photostat copies of ALL the Pay-In Credit Slips (P11s) for the year:</td>
                </tr>
                <tr>
                  <td colspan="5">(2) Complete this certificate in triplicate and send the top two copies with the enclosures to your </td>
                </tr>
                <tr>
                  <td colspan="5">(3) Provide statistical information required by Central Bureau of Statistics </td>
                </tr>
                <tr>
                  <td>NAME OF EMPLOYER</td>
                  <td></td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td>ADDRESS. </td>
                  <td> </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td>SIGNATURE </td>
                  <td> </td>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td>DATE</td>
                  <td> </td>
                  <td colspan="3"></td>
                </tr>
            </tbody>
         </table>
      </div>
    
      <hr class="hidden-print" />
      <div class="clearfix">
         <button class="btn btn-info pull-left mr" type="button">Edit</button>
         <button class="btn btn-default pull-left mr" type="button" onclick="window.print();">Print</button>
         <button class="btn btn-success pull-left mr" type="button">CSV</button>
      </div>
   </div>
</div>