<!-- <h3>
   <button class="btn btn-primary pull-right" type="button">
      <em class="fa fa-plus-circle fa-fw mr-sm"></em>New Invoice</button>Invoice</h3> -->
    <div class="page" ng-controller="P10dController">
         <div class="row">
   <div class="col-lg-8">
      <form class="form-inline">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Period</div>
  
         <select name="period" class="slider slider-lg form-control" ng-model="user.period" ng-options="period.id as period.period for period in periods" >
        <option value="" disabled selected>Periods</option>
  </select>
  </div>

  <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
  

 </div>
   </div>
<div class="panel">
  
   <div class="panel-body">
     
     
      <div class="table-responsive ">
         <table class="table table-bordered">
           <!--  <thead>
               <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
 -->            <tbody>

               <tr>
                  <td colspan="5" ><b>P.10D</b></td>
                </tr>
                <tr>
                  <td colspan="5" class="text-center">INCOME TAX DEPARTMENT</td>
                </tr>
                <tr>
                  <td colspan="5" class="text-center">EMPLOYER'S QUARTERLY RETURN</td>
                </tr>
                <tr>
                  <td colspan="5" class="text-center"><b>P.A.Y.E RETURN FOR THE QUARTER ENDING: 30 SEPTEMBER  YEAR 2014</b></td>
                </tr>
               
                <tr>
                  <td colspan="5" height="30"></td>
                </tr>
                <tr>
                 <td></td>
                  <td colspan="2">EMPLOYER'S PIN </td>
                  <td colspan="2">P051393868P</td>
                   
                  
                </tr>
                <tr>
                 
                  <td></td>
                  <td colspan="2">EMPLOYER'S NAME. </td>
                  <td colspan="2"> XYZ LIMITED </td>
                 
                </tr>
                <!-- <tr>
                  <td>Employer's P.I.N. </td>
                  <td>P051393868P </td>
                  <td colspan="3"></td>
                </tr> -->
                <tr>
                  <td colspan="5" height="30"></td>
                </tr>
            
                <tr>
                  <th>EMPLOYEE'S PIN</th>
                  <th colspan="2">EMPLOYEE'S NAME</th>
                  <th>TOTAL EMOLUMENTS KSHS.</th>
                  <th>TOTAL PAYE DEDUCTED KSHS.</th>
               
                  
                 
               </tr>
               <tr>
                  <td>A123456789U</td>
                  <td colspan="2">Esther Namalome  Amani</td>
                 
                  <td>150000</td>
                  <td>24367.2</td>
                  
               </tr>
               <tr>
                  <td>A456789123W</td>
                  <td colspan="2">Andrew Gacheru Njenga</td>
                
                  <td>150000</td>
                  <td>24367.2</td>
                  
                 
               </tr>
            

               <tr>
                  <td colspan="5" height="30"></td>
                </tr>
                <tr>
                  <td>BANK OF REMITTANCE 9g784g</td>
                  <td colspan="2">TOTAL EMOLUMENTS</td>
                 
                  <td>240000</td>
                  <td></td>
                  
               </tr>
               <tr>
                  <td></td>
                  <td colspan="2">TOTAL PAYE TAX</td>
                 
                  <td></td>
                  <td>33735.00</td>
                  
               </tr>
                <tr>
                  <td></td>
                  <td colspan="2">TOTAL WCPS</td>
                 
                  <td></td>
                  <td>0.00</td>
                  
               </tr>
               <tr>
                  <td></td>
                  <td colspan="2">FRINGE BENEFIT TAX</td>
                 
                  <td></td>
                  <td>0.00</td>
                  
               </tr>
                <tr>
                  <td></td>
                  <td colspan="2">TAX ON</td>
                 
                  <td></td>
                  <td></td>
                  
               </tr>
                <tr>
                  <td></td>
                  <td colspan="2">LUMPSUMS/AUDIT/PENALTY/INTEREST</td>
                 
                  <td></td>
                  <td></td>
                  
               </tr>
                <tr>
                  <td></td>
                  <td colspan="2">TOTAL TAX PAID FOR THE QUARTER</td>
                 
                  <td></td>
                  <td>33 735.00</td>
                  
               </tr>
              
               
                 
               
         
            </tbody>
         </table>
      </div>
    <br/>
     
      <div class="clearfix">
         <button class="btn btn-info pull-left mr" type="button">Edit</button>
         <button class="btn btn-default pull-left mr" type="button" onclick="window.print();">Print</button>
         <button class="btn btn-success pull-left mr" type="button">CSV</button>
      </div>
   </div>
</div>
</div>