
     
   

   
   
          
         <h3>Payroll Journal
  


</h3>




      <!-- START panel-->
      <div class="panel panel-default" id="panelDemo15">
         <div class="panel-heading"></div>
         <div class="panel-body">
            <uib-tabset type="pills">
            <uib-tab heading="Evolution">
            

               <div class="col-lg-12  companydetails"><div class="panel panel-default">
         <div class="panel-heading">Evolution Payroll Journal</div>
         <div class="panel-body" ng-controller="ModalController as  mod">

          <div class="table-responsive">
         <table class="table table-bordered-white   table-bordered-whitecol-lg-6" >
            <thead>
               <tr><th>Date</th>
                  <th>Account</th>
                 <th>Reference</th>
                 <th>Description</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th>project</th>
                 
               </tr>
            </thead>
            <tbody >
               <tr>
                  <td >1/30/2017
</td>
                  <td >Salaries and Wages </td>
                   <td >Reference</td>
                  
                  <td >Salaries Expense</td>
                  <td >285400</td>
                   <td ></td>
                   <td ></td>
                  
                
               </tr>
               <tr>
                  <td >1/30/2017</td>
                  <td >Payroll liabilities - NetPay</td>
                   <td >" </td>
                   <td >Booking - NetPay</td>
                   <td ></td>
                   <td >122859</td>
                  
                 
                   
               </tr>
                <tr>
                  <td >1/30/2017</td>
                  <td >Payroll liabilities - NSSF</td>
                   <td >" </td>
                   <td >Booking - NSSF</td>
                   <td ></td>
                   <td >800</td>
                  
                 
                   
               </tr>
                <tr>
                  <td >1/30/2017</td>
                  <td >Payroll liabilities - NHIF</td>
                   <td >" </td>
                   <td >Booking - NHIF</td>
                   <td ></td>
                   <td >3400</td>
                  
                 
                   
               </tr>
                <tr>
                  <td >1/30/2017</td>
                  <td >Payroll liabilities - PAYE</td>
                   <td >" </td>
                   <td >Booking - PAYE</td>
                   <td ></td>
                   <td >123341</td>
                  
                 
                   
               </tr>
                <tr>
                  <td >1/30/2017</td>
                  <td >Payroll liabilities - HELB</td>
                   <td >" </td>
                   <td >Booking - HELB</td>
                   <td ></td>
                   <td >5000</td>
                  
                 
                   
               </tr>
              <tr>
                  <td >1/30/2017</td>
                  <td >Payroll liabilities - Pension</td>
                   <td >" </td>
                   <td >Booking - Pension</td>
                   <td ></td>
                   <td >20000</td>
                  
                 
                   
               </tr>
               <tr>
                  <td >1/30/2017</td>
                  <td >Payroll liabilities - Sacco</td>
                   <td >" </td>
                   <td >Booking - NetPay</td>
                   <td ></td>
                   <td >7000</td>
                  
                 
                   
               </tr>
             <tr>
                  <td ></td>
                  <td ></td>
                   <td > </td>
                   <td > </td>
                  <td  class="h3">285400</td>
                   <td class="h3">285400</td>
                   <td ></td>
                  
                 
                   
               </tr>
            
            </tbody>
         </table>
        
             
   </div>
           
          
         
         </div>
         </div>
      </div>

      
</uib-tab>

               
               <uib-tab heading="Partner">
            

               <div class="col-lg-12  companydetails"><div class="panel panel-default">
         <div class="panel-heading">Partner Payroll Journal</div>
         <div class="panel-body" ng-controller="ModalController as  mod">

          <div class="table-responsive">
         <table class="table table-bordered-white   table-bordered-whitecol-lg-6" >
            <thead>
               <tr>
               <th>Per</th>
               <th>Date</th>
               <th>GCS</th>
                  <th>Account</th>
                 <th>Reference</th>
                 <th>Description</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th>project</th>
                 
               </tr>
            </thead>
            <tbody >
               <tr>
               <td >01
                  </td>
                  <td >1/30/2017
                  </td>
                  <td >G
                  </td>
                  <td >Salaries and Wages </td>
                   <td >Reference</td>
                  
                  <td >Salaries Expense</td>
                  <td >285400</td>
                   <td ></td>
                   <td ></td>
                  
                
               </tr>
               <tr>
                  <td >01
                  </td>
                  <td >1/30/2017
                  </td>
                  <td >G
                  </td>
                 
                  <td >Payroll liabilities - NetPay</td>
                   <td >" </td>
                   <td >Booking - NetPay</td>
                   <td ></td>
                   <td >122859</td>
                  
                 
                   
               </tr>
                <tr>
                 <td >01
                  </td>
                  <td >1/30/2017
                  </td>
                  <td >G
                  </td>
                  
                  <td >Payroll liabilities - NSSF</td>
                   <td >" </td>
                   <td >Booking - NSSF</td>
                   <td ></td>
                   <td >800</td>
                  
                 
                   
               </tr>
                <tr>
                 <td >01
                  </td>
                  <td >1/30/2017
                  </td>
                  <td >G
                  </td>
                  <td >Payroll liabilities - NHIF</td>
                   <td >" </td>
                   <td >Booking - NHIF</td>
                   <td ></td>
                   <td >3400</td>
                  
                 
                   
               </tr>
                <tr>
                  <td >01
                  </td>
                  <td >1/30/2017
                  </td>
                  <td >G
                  </td>
                  <td >Payroll liabilities - PAYE</td>
                   <td >" </td>
                   <td >Booking - PAYE</td>
                   <td ></td>
                   <td >123341</td>
                  
                 
                   
               </tr>
                <tr>
                 <td >01
                  </td>
                  <td >1/30/2017
                  </td>
                  <td >G
                  </td>
                  <td >Payroll liabilities - HELB</td>
                   <td >" </td>
                   <td >Booking - HELB</td>
                   <td ></td>
                   <td >5000</td>
                  
                 
                   
               </tr>
              <tr>
                  <td >01
                  </td>
                  <td >1/30/2017
                  </td>
                  <td >G
                  </td>
                  <td >Payroll liabilities - Pension</td>
                   <td >" </td>
                   <td >Booking - Pension</td>
                   <td ></td>
                   <td >20000</td>
                  
                 
                   
               </tr>
               <tr>
                 <td >01
                  </td>
                  <td >1/30/2017
                  </td>
                  <td >G
                  </td>
                  <td >Payroll liabilities - Sacco</td>
                   <td >" </td>
                   <td >Booking - NetPay</td>
                   <td ></td>
                   <td >7000</td>
                  
                 
                   
               </tr>
           
            
            </tbody>
         </table>
        
             
   </div>
           
          
         
         </div>
         </div>
      </div>

      
</uib-tab>
               

            </uib-tabset>
         </div>
      </div>
      <!-- END panel-->
      