
<h3>Payslip</h3>

<div class="row" ng-controller="PayslipController">
   


   <div class="col-lg-8">
      <form class="form-inline">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Period</div>
  
         <select name="period" class="slider slider-lg form-control" ng-model="user.period" ng-options="period.id as period.period for period in periods" ng-change="searchpayslipByperiod(user.period)" >
        <option value="" disabled selected>Periods</option>
  </select>
  </div>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Employee Number</div>
    <select name="employeeNumber" class="slider slider-lg form-control" ng-model="user.employeeNumber" ng-options="employee.id as employee.employeeNumber for employee in employees" >
        <option value="" disabled selected>Employees</option>
  </select>
  </div>
  <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
  


   </div>


</div>
<br/>

<div class="row" ng-controller="PayslipController">
    
   <div class="col-lg-12" >


      <!-- START widget-->
      <div class="panel panel-default" ng-repeat="payslip in persons">
         <div class="panel-body" >
           <div class="row">
             


   <div class="col-lg-4 col-xs-6 br pv">
            <div class="col-md-12">
               <p class="pull-left"><strong>Employee NO.</strong></p>
               <p class="pull-right mr">{{payslip.payslipInfo.employeeNumber}}</p>
            </div>
         </div>
          <div class="col-lg-4 col-xs-6 br pv">
            <div class="col-md-12">
               <p class="pull-left"><strong>Employee Name.</strong></p>
               <p class="pull-right mr">{{payslip.payslipInfo.employeeName}}</p>
            </div>
         </div>
          <div class="col-lg-4 col-xs-6 br pv">
            <div class="col-md-10">
               <p class="pull-left"><strong>Pay Period</strong></p>
               <p class="pull-right mr">{{payslip.payslipInfo.period}}</p>
            </div>
         </div>
         <div class="col-md-12">
            <p class="lead bb">Earnings</p>
           
               <table class="table  table-bordered-white">
            
                  <thead>
                     <!-- <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr> -->
                  </thead>
                  <tbody>
                     <tr ng-repeat="earning in payslip.earnings.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{earning.description}}</td>
                        <td style="width:50%">{{earning.amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="row">
         <div class="col-md-12">
         <p class="lead bb">Tax Calculations</p>
           <div class="table-responsive">
            
               <table class="table table-bordered-white">
            
                  <!-- <thead>
                     <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead> -->
                  <tbody>
          <tr ng-repeat="tax in payslip.taxCalculations.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{tax.description}}</td>
                        <td style="width:50%">{{tax.amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         
      </div>
 <br/>
      <div class="row">
         <div class="col-md-12">
            <p class="lead bb">Deductions  
</p>
             <div class="table-responsive">
        
               <table class="table table-bordered-white">
                   
                 <!--  <thead>
                     <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead> -->
                  <tbody>
                     <tr ng-repeat="deduction in payslip.deductions.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{deduction.description}}</td>
                        <td style="width:50%">{{deduction.amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      
      </div>
  <br/>

      <div class="row">
         <div class="col-md-12">
            <p class="lead bb">Benefits 
</p>
             <div class="table-responsive">
        
               <table class="table table-bordered-white">
                   
                 <!--  <thead>
                     <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead> -->
                  <tbody>
                    <tr ng-repeat="benefit in payslip.benefits.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{benefit.description}}</td>
                        <td style="width:50%">{{benefit.amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      
      </div>
         </div>
      </div>
      <!-- END widget-->
   </div>
   
   <!-- <div class="col-lg-4"> -->
      <!-- START widget-->
      <!-- <div class="panel widget">
         <div class="panel-body">
            <div class="text-right text-muted">
               <em class="fa fa-upload fa-2x"></em>
            </div>
            <h3 class="mt0">1000 Gb</h3>
            <p class="text-muted">Average Monthly Uploads</p>
            <div class="progress progress-striped progress-xs">
               <div class="progress-bar progress-bar-info progress-40" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                  <span class="sr-only">40% Complete</span>
               </div>
            </div>
         </div>
      </div> -->
      <!-- END widget-->
   <!-- </div> -->
</div>



















<!-- <div class="col-md-6">
<div class="panel panel-default">
   <div class="panel-heading">Order Information</div>
   <div class="panel-body">

   <div class="row">
         <div class="col-md-10">
            <p class="lead bb">Earnings</p>
           
               <table class="table table-striped table-bordered table-hover">
            
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>100</td>
                        <td>Basic Salary</td>
                        <td>500000</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>105</td>
                        <td>House Allowance </td>
                        <td>O10000
</td>
                     </tr>
                     <tr>
                        <td>3</td>
                        <td>103</td>
                        <td>leave</td>
                        <td>500</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      <div class="row">
         <div class="col-md-10">
           <div class="table-responsive">
            
               <table class="table">
               <h4>Tax Calculations</h4>
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>505</td>
                        <td>Defined Contribution</td>
                        <td>2700
</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>795</td>
                        <td>Total Benefits</td>
                        <td>10000

</td>
                     </tr>

                     <tr>
                        <td>3</td>
                        <td>510
</td>
                        <td>Taxable pay
</td>
                        <td>500</td>
                     </tr>
                     <tr>
                        <td>4</td>
                        <td>520

</td>
                        <td>Personal relief

</td>
                        <td>1280
</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="col-md-10">
            <p class="lead bb">Client</p>
            <form class="form-horizontal p-20">
               <div class="form-group">
                  <div class="col-sm-4">Client ID:</div>
                  <div class="col-sm-8">
                     <strong>#32654</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Name:</div>
                  <div class="col-sm-8">
                     <strong>Addison Nichols</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Email:</div>
                  <div class="col-sm-8">
                     <strong>addisong@mail.com</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Company:</div>
                  <div class="col-sm-8">
                     <strong>Addison co.</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Phone:</div>
                  <div class="col-sm-8">
                     <strong>(123) 123 456465</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Status</div>
                  <div class="col-sm-8">
                     <div class="label label-success">Active</div>
                  </div>
               </div>
            </form>
         </div>
      </div>
      
         <div class="col-md-10">
            <p class="lead bb">Shipping Address</p>
            <form class="form-horizontal p-20">
               <div class="form-group">
                  <div class="col-sm-4">First Name</div>
                  <div class="col-sm-8">
                     <strong>John</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Last Name:</div>
                  <div class="col-sm-8">
                     <strong>Johnson</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Company:</div>
                  <div class="col-sm-8">
                     <strong>John co.</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Address:</div>
                  <div class="col-sm-8">
                     <strong>2125 Chesterfield</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">City:</div>
                  <div class="col-sm-8">
                     <strong>San Francisco</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">State</div>
                  <div class="col-sm-8">
                     <strong>N/a</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">ZIP/Post Code</div>
                  <div class="col-sm-8">
                     <strong>1324</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Country</div>
                  <div class="col-sm-8">
                     <strong>Neverland</strong>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-4">Phone</div>
                  <div class="col-sm-8">
                     <strong>(123) 132 456789</strong>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="alert alert-warning">
         <em class="fa fa-exclamation-circle fa-lg fa-fw"></em>Shipping address is different than billing address</div>
   </div>
</div>

</div>

 -->














<!-- START panel-->
<!-- <div class="container-fluid">
<div class="panel panel-default">
   <div class="panel-heading">Payslip </div>
    <div class="panel-body">
           <div class="row">
            <div class="col-sm-3">
                     <div class="table-responsive">
               <table class=" table table-striped table-bordered table-hover">
            
                  <tbody>
                     <tr>
                        <td>Employee No</td>
                        <td>P001</td>
                       
                     </tr>
                     <tr>
                      <td>Employee Name: </td>
                        <td>Jacob</td>
                        
                     </tr>
                    
                  </tbody>
               </table>
            </div>     
                        </div>  



                         <div class="col-sm-3">
                           <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
            
                  <tbody>
                     <tr>
                        <td>Pin No:</td>
                        <td>A000000W</td>
                       
                     </tr>
                     <tr>
                      <td>Nssf No: </td>
                      <td>1234N</td>
                        
                     </tr>
                      <tr>
                      <td>Nhif No: </td>
                      <td>K55356626</td>
                        
                   </tr>
                    
                  </tbody>
               </table>
            </div> 
                        </div> 

                        <div class="col-sm-3">
                           <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
            
                  <tbody>
                     <tr>
                        <td>Net Pay:</td>
                        <td>77000</td>
                       
                     </tr>
                     <tr>
                      <td>Pay period : </td>
                      <td>april</td>
                        
                     </tr>
                      <tr>
                      <td>Pay From: </td>
                      <td>Timecon Kenya</td>
                        
                   </tr>
                    
                  </tbody>
               </table>
            </div> 
                        </div> 


                         
                         


                      <div class="col-sm-3">
                           <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
            
                  <tbody>
    
                     <tr>
                        <td>Payment Mode:</td>
                        <td>Bank</td>
                       
                     </tr>
                     <tr>
                      <td>Bank: </td>
                        <td>KCB</td>
                        
                     </tr>
                     <tr>
                      <td>Account No: </td>
                        <td>812888888888</td>
                        
                     </tr>
                    
                  </tbody>
               </table>
            </div> 
                        </div>     </div>
               -->
            
               


               


               
    
    
            <!-- START table-responsive-->
           <!--  <div class="table-responsive">
            <h4 class="page-header">Earnings</h4>
               <table class="table table-striped table-bordered table-hover">
            
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>100</td>
                        <td>Basic Salary</td>
                        <td>500000</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>105</td>
                        <td>House Allowance </td>
                        <td>O10000
</td>
                     </tr>
                     <tr>
                        <td>3</td>
                        <td>103</td>
                        <td>leave</td>
                        <td>500</td>
                     </tr>
                  </tbody>
               </table>
            </div> -->
            <!-- END table-responsive-->
       
              
                
            <!-- START table-responsive-->
            <!-- <div class="table-responsive">
            
               <table class="table">
               <h4>Tax Calculations</h4>
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>505</td>
                        <td>Defined Contribution</td>
                        <td>2700
</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>795</td>
                        <td>Total Benefits</td>
                        <td>10000

</td>
                     </tr>

                     <tr>
                        <td>3</td>
                        <td>510
</td>
                        <td>Taxable pay
</td>
                        <td>500</td>
                     </tr>
                     <tr>
                        <td>4</td>
                        <td>520

</td>
                        <td>Personal relief

</td>
                        <td>1280
</td>
                     </tr>
                  </tbody>
               </table>
            </div> -->
            <!-- END table-responsive-->
            
             <!-- START table-responsive-->
            <!-- <div class="table-responsive">
        
               <table class="table table-striped table-bordered table-hover">
                   <h4>Deductions  
</h4>
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>505</td>
                        <td>Defined Contribution</td>
                        <td>2700
</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>795</td>
                        <td>Total Benefits</td>
                        <td>10000

</td>
                     </tr>

                     <tr>
                        <td>3</td>
                        <td>510
</td>
                        <td>Taxable pay
</td>
                        <td>500</td>
                     </tr>
                     <tr>
                        <td>4</td>
                        <td>520

</td>
                        <td>Personal relief

</td>
                        <td>1280
</td>
                     </tr>
                  </tbody>
               </table>
            </div> -->
            <!-- END table-responsive-->  
            
    <!--      </div>
</div>
</div>
 -->
<!-- END panel-->



 
    


