<h3>Reviews
  <!--  <small>Company Details Relating to Payroll</small> -->


</h3>

      <!-- START panel-->
      <div class="panel panel-default" id="panelDemo15">
         <div class="panel-heading"></div>
         <div class="panel-body">
            <uib-tabset type="pills">
               <uib-tab heading="Payslips">

                <div class="col-md-10">
      <!-- <button class="pull-right btn btn-default btn-sm" type="button">Copy this invoice</button> -->
     <!--   -->
      <hr/>
      <div class="row mb-lg">
         <div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
               
               <div class="col-md-10">
                <div class="clearfix">
               <p class="pull-left">Employee No.</p>
               <p class="pull-right mr">00004879</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Employee Name</p>
               <p class="pull-right mr">John Doe</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Employee PIN</p>
               <p class="pull-right mr">00004879</p>
            </div>
                  </div>
            </div>
         </div>
         <div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
               
               <div class="col-md-10">
                 <div class="clearfix">
               <p class="pull-left">Pay From
.</p>
               <p class="pull-right mr">Timecon Kenya</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Pay period </p>
               <p class="pull-right mr">25/08/2014</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Net Pay
</p>
               <p class="pull-right mr">77000</p>
            </div></div>
            </div>
         </div>
         <div class="clearfix hidden-md hidden-lg">
            <hr/>
         </div>
         <div class="col-lg-4 col-xs-12 pv">
         <div class="col-md-10">
            <div class="clearfix">
               <p class="pull-left">Payment Mode</p>
               <p class="pull-right mr">EFT</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Bank
</p>
               <p class="pull-right mr">KCB</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Account Number</p>
               <p class="pull-right mr">828282899</p>
            </div>
            </div>
         </div>
      </div>
      <div class="table-responsive table-bordered mb-lg">
         <table class="table">
                 <thead>
               <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Amount</th>
                  
               </tr>
            </thead>
            <h3>Earnings
  
</h3>
     
            <tbody>
               <tr>
                  <td>100</td>
                  <td>Basic Salaray</td>
                  <td>50000</td>
                  
               </tr>
               <tr>
                  <td>102</td>
                  <td>House Allowance</td>
                  <td>1000</td>
                 
               </tr>
               <tr>
                  <td>103</td>
                  <td>Telephone Benefit</td>
                  <td>2000</td>
                  
               </tr>
               
            </tbody>
         </table>
      </div>
      <!-- START table-responsive-->
            <div class="table-responsive table-bordered mb-lg">
            
               <table class="table">
               <h4>Tax Calculations</h4>
                  <thead>
                     <tr>
                       
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                       
                        <td>505</td>
                        <td>Defined Contribution</td>
                        <td>2700
</td>
                     </tr>
                     <tr>
                        
                        <td>795</td>
                        <td>Total Benefits</td>
                        <td>10000

</td>
                     </tr>

                     <tr>
                        
                        <td>510
</td>
                        <td>Taxable pay
</td>
                        <td>500</td>
                     </tr>
                     <tr>
                       
                        <td>520

</td>
                        <td>Personal relief

</td>
                        <td>1280
</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- END table-responsive-->



 <div class="table-responsive table-bordered mb-lg">
        
               <table class="table ">
                   <h4>Deductions  
</h4>
                  <thead>
                     <tr>
                    
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                  
                        <td>505</td>
                        <td>Defined Contribution</td>
                        <td>2700
</td>
                     </tr>
                     <tr>
                      
                        <td>795</td>
                        <td>Total Benefits</td>
                        <td>10000

</td>
                     </tr>

                     <tr>
                       
                        <td>510
</td>
                        <td>Taxable pay
</td>
                        <td>500</td>
                     </tr>
                     <tr>
                       
                        <td>520

</td>
                        <td>Personal relief

</td>
                        <td>1280
</td>
                     </tr>
                  </tbody>
               </table>
            </div>

<br/>
<br/>
      <div class="row mb-lg">
         <div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
               
               <div class="col-md-10">
                <div class="clearfix">
               <p class="pull-left">Employee No.</p>
               <p class="pull-right mr">00004879</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Employee Name</p>
               <p class="pull-right mr">John Doe</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Employee PIN</p>
               <p class="pull-right mr">00004879</p>
            </div>
                  </div>
            </div>
         </div>
         <div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
               
               <div class="col-md-10">
                 <div class="clearfix">
               <p class="pull-left">Pay From
.</p>
               <p class="pull-right mr">Timecon Kenya</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Pay period </p>
               <p class="pull-right mr">25/08/2014</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Net Pay
</p>
               <p class="pull-right mr">77000</p>
            </div></div>
            </div>
         </div>
         <div class="clearfix hidden-md hidden-lg">
            <hr/>
         </div>
         <div class="col-lg-4 col-xs-12 pv">
         <div class="col-md-10">
            <div class="clearfix">
               <p class="pull-left">Payment Mode</p>
               <p class="pull-right mr">EFT</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Bank
</p>
               <p class="pull-right mr">KCB</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Account Number</p>
               <p class="pull-right mr">828282899</p>
            </div>
            </div>
         </div>
      </div>
      <div class="table-responsive table-bordered mb-lg">
         <table class="table">
                 <thead>
               <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Amount</th>
                  
               </tr>
            </thead>
            <h3>Earnings
  
</h3>
     
            <tbody>
               <tr>
                  <td>100</td>
                  <td>Basic Salaray</td>
                  <td>50000</td>
                  
               </tr>
               <tr>
                  <td>102</td>
                  <td>House Allowance</td>
                  <td>1000</td>
                 
               </tr>
               <tr>
                  <td>103</td>
                  <td>Telephone Benefit</td>
                  <td>2000</td>
                  
               </tr>
               
            </tbody>
         </table>
      </div>
      <!-- START table-responsive-->
            <div class="table-responsive table-bordered mb-lg">
            
               <table class="table">
               <h4>Tax Calculations</h4>
                  <thead>
                     <tr>
                       
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                       
                        <td>505</td>
                        <td>Defined Contribution</td>
                        <td>2700
</td>
                     </tr>
                     <tr>
                        
                        <td>795</td>
                        <td>Total Benefits</td>
                        <td>10000

</td>
                     </tr>

                     <tr>
                        
                        <td>510
</td>
                        <td>Taxable pay
</td>
                        <td>500</td>
                     </tr>
                     <tr>
                       
                        <td>520

</td>
                        <td>Personal relief

</td>
                        <td>1280
</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- END table-responsive-->



 <div class="table-responsive table-bordered mb-lg">
        
               <table class="table ">
                   <h4>Deductions  
</h4>
                  <thead>
                     <tr>
                    
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                  
                        <td>505</td>
                        <td>Defined Contribution</td>
                        <td>2700
</td>
                     </tr>
                     <tr>
                      
                        <td>795</td>
                        <td>Total Benefits</td>
                        <td>10000

</td>
                     </tr>

                     <tr>
                       
                        <td>510
</td>
                        <td>Taxable pay
</td>
                        <td>500</td>
                     </tr>
                     <tr>
                       
                        <td>520

</td>
                        <td>Personal relief

</td>
                        <td>1280
</td>
                     </tr>
                  </tbody>
               </table>
            </div>



      <!-- <hr class="hidden-print" /> -->
      <div class="clearfix">
         <button class="btn btn-info pull-right mr" type="button">Reject</button>
        <!--  <button class="btn btn-default pull-left" type="button" onclick="window.print();">Print</button> -->
         <button class="btn btn-success pull-right mr" type="button">approve</button>
      </div>
   </div>
               </uib-tab>
               <uib-tab heading="Company Summary">

               <div class="col-lg-12 "><div class="panel panel-default">
         <div class="panel-heading">Company Summary</div>
         <div class="panel-body">
          <div class="table-responsive table-bordered mb-lg">
         <table class="table">
                 <thead>
               <tr>
               <th>P/NO.</th>
               <th>Employee Name</th>
               <th>Basic Pay</th>
               <th>Other Earnings</th>
               <th>Advance</th>
               <th>Gross Pay</th>
               <th>Paye</th>
               <th>NSSF (Self)</th>
                  <th>NHIF</th>
                  <th>Pension</th>
                  <th>HELB</th>
                  <th>Insurance</th>
                  <th>Sacco</th>
                  <th>Total Deductions</th>
                  <th>Net Pay</th>
                  <th>NSSF (EMPL)</th>
                  <th>Pension (EMPL)</th>
                  
                  
                  
               </tr>
            </thead>
      
            <tbody>
               <tr>
                  <td>100</td>
                  <td>Basic Salaray</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                   <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>

                               
                   <td>50000</td>
                  <td>50000</td>
                   <td>50000</td>
                  <td>50000</td>

                               
                   <td>50000</td>
                 


                  
               </tr>
               <tr>
                  <td>100</td>
                  <td>Jane Doe</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                   <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>

                               
                   <td>50000</td>
                  <td>50000</td>
                   <td>50000</td>
                  <td>50000</td>

                               
                   <td>50000</td>
                 
                 
               </tr>
               <tr>
                  <td>100</td>
                  <td>Jane Doe</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                   <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>
                  <td>50000</td>

                               
                   <td>50000</td>
                  <td>50000</td>
                   <td>50000</td>
                  <td>50000</td>

                               
                   <td>50000</td>
               </tr>
               
            </tbody>
         </table>
      </div>

       <div class="clearfix">
         <button class="btn btn-info pull-right mr" type="button">Reject</button>
        <!--  <button class="btn btn-default pull-left" type="button" onclick="window.print();">Print</button> -->
         <button class="btn btn-success pull-right mr" type="button">approve</button>
      </div>
         </div>
         </div>
      </div></uib-tab>
               <uib-tab heading="Company Totals "> 
               <div class="col-lg-12 companydetails"><div class="panel panel-default">
   <div class="panel-heading">
      <small>Company Totals</small>
   </div>
   <div class="panel-body">
   <div class="col-sm-10">
      
         <table class="table" >
            <thead>
               <tr><th>Earnings</th>
                  <th>Amount</th>
                 <th>Deductions</th>
                  <th>Amount</th>
               </tr>
            </thead>
            <tbody >
               <tr>
                  <td >Basic Pay </td>
                  <td >200000</td>
                  <td >Paye</td>
                  <td >14000</td>
                 
               </tr>
                <!-- <tr ng-repeat="deductions in table1.deductions">
                  
                 
               </tr> -->
              
            </tbody>
         </table>
          <div class="clearfix">
         <button class="btn btn-info pull-right mr" type="button">Reject</button>
        <!--  <button class="btn btn-default pull-left" type="button" onclick="window.print();">Print</button> -->
         <button class="btn btn-success pull-right mr" type="button">approve</button>
      </div>
     
   </div>
      </div></uib-tab>
               

                  
            </uib-tabset>
         </div>
      </div>