
<h3>Payroll processing
  <!--  <small>Native AngularJS form wizard</small> -->
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <!--  <div class="panel-heading">Form Wizard Horizontal (no validation)</div> -->
   <div class="panel-body">
      <section form-wizard="" steps="3">
          <div id="wizard" class="form_wizard wizard_horizontal">
            

<ul class='  nav nav-wizard '>
  
  <li class="col-md-6"  ng-class="{'active':wizard.active(1)}" ><a ng-click="wizard.go(1)">
                           
                                        Payroll   Run 
                                             
                                          
                         </a></li>

  <li class="col-md-6"  ng-class="{'active':wizard.active(2)}"><a ng-click="wizard.go(2)">
                           
                                            Preview
                                             
                                          
                         </a><!-- </li>

  <li class="col-md-4" ng-class="{'active':wizard.active(3)}" ><a  ng-click="wizard.go(3)">
                            
                                            Approve
                                             
                                         
                          </a></li> -->

</ul>
           
          
            <!-- START Wizard Step inputs-->
            <div ng-show="wizard.active(1)">


      <div class="row mb-lg companydetails">
         <div class="col-lg-6 col-xs-6  pv">
            <div class="row">
               
               <div class="col-md-10">
             
           
            <div class="clearfix" ng-controller="DashboardController">
               <p class="pull-left mr"><b>Pay Period</b> </p>
               <p class="pull-left mr">{{dashboard.currentPeriod.month}} {{dashboard.currentPeriod.year}}</p>
              
            </div>
          
                  </div>
            </div>
         </div>
         </div>

        
         <div class="col-md-4 " ng-controller="PayrollProcessController">
         <div class="clearfix1">
        
         <button class="btn btn-primary pull-left " ng-class="currentclass" ng-click="process()" type="button">{{buttonText}}</button>

          <!-- <uib-progressbar class="progress-striped" value="22" type="warning">22%</uib-progressbar> -->

  <!--    <div class="whirl traditional" ng-show="process">{{process}}</div> -->
       <!--   <button ladda="loading" ng-click="clickBtn()">
  Button
</button> -->
         </div>


         </div>

     
  <!--     
   </div>
</div>




   </div>

      </div> -->
                    
               



                         

<!-- END panel-->
               <ul class="pager">
                  <li class="next"><a href="" ng-click="wizard.go(2)">Next<span>&rarr;</span></a>
                  </li>
               </ul>
            </div>
            <!-- END Wizard Step inputs-->
            <!-- START Wizard Step inputs-->
            <div ng-show="wizard.active(2)">
            
   
   
<div  ng-include="'app/views/payroll-preview.html'"> </div>



</div>
            </div>
            <!-- END Wizard Step inputs-->
            <!-- START Wizard Step inputs-->
            <div ng-show="wizard.active(3)">
                            <h3>
  <!--  <button class="btn btn-primary pull-right" type="button">
      <em class="fa fa-plus-circle fa-fw mr-sm"></em>New Invoice</button> -->Payslip</h3>
<div class="panel">
   <div class="panel-body">
      <!-- <button class="pull-right btn btn-default btn-sm" type="button">Copy this invoice</button> -->
     <!--   -->
      <button class="btn btn-primary pull-right" type="button">
     <!--  <em class="fa fa-plus-circle fa-fw mr-sm"></em> -->Pending</button></h3>
     <br/>
      <hr/>
      <div class="row mb-lg">
         <div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
               
               <div class="col-md-10">
                <div class="clearfix">
               <p class="pull-left">Employee No.</p>
               <p class="pull-right mr">00004879</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Employee Name</p>
               <p class="pull-right mr">John Doe</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Employee PIN</p>
               <p class="pull-right mr">00004879</p>
            </div>
                  </div>
            </div>
         </div>
         <div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
               
               <div class="col-md-10">
                 <div class="clearfix">
               <p class="pull-left">Pay From
.</p>
               <p class="pull-right mr">Timecon Kenya</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Pay period </p>
               <p class="pull-right mr">25/08/2014</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Net Pay
</p>
               <p class="pull-right mr">77000</p>
            </div></div>
            </div>
         </div>
         <div class="clearfix hidden-md hidden-lg">
            <hr/>
         </div>
         <div class="col-lg-4 col-xs-12 pv">
         <div class="col-md-10">
            <div class="clearfix">
               <p class="pull-left">Payment Mode</p>
               <p class="pull-right mr">EFT</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Bank
</p>
               <p class="pull-right mr">KCB</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Account Number</p>
               <p class="pull-right mr">828282899</p>
            </div>
            </div>
         </div>
      </div>
      <div class="table-responsive table-bordered mb-lg">
         <table class="table">
                 <thead>
               <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Amount</th>
                  
               </tr>
            </thead>
            <h3>Earnings
  
</h3>
     
            <tbody>
               <tr>
                  <td>100</td>
                  <td>Basic Salaray</td>
                  <td>50000</td>
                  
               </tr>
               <tr>
                  <td>102</td>
                  <td>House Allowance</td>
                  <td>1000</td>
                 
               </tr>
               <tr>
                  <td>103</td>
                  <td>Telephone Benefit</td>
                  <td>2000</td>
                  
               </tr>
               
            </tbody>
         </table>
      </div>
      <!-- START table-responsive-->
            <div class="table-responsive table-bordered mb-lg">
            
               <table class="table">
               <h4>Tax Calculations</h4>
                  <thead>
                     <tr>
                       
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                       
                        <td>505</td>
                        <td>Defined Contribution</td>
                        <td>2700
</td>
                     </tr>
                     <tr>
                        
                        <td>795</td>
                        <td>Total Benefits</td>
                        <td>10000

</td>
                     </tr>

                     <tr>
                        
                        <td>510
</td>
                        <td>Taxable pay
</td>
                        <td>500</td>
                     </tr>
                     <tr>
                       
                        <td>520

</td>
                        <td>Personal relief

</td>
                        <td>1280
</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- END table-responsive-->



 <div class="table-responsive table-bordered mb-lg">
        
               <table class="table ">
                   <h4>Deductions  
</h4>
                  <thead>
                     <tr>
                    
                        <th>Code</th>
                        <th>Descriptions
                        </th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                  
                        <td>505</td>
                        <td>Defined Contribution</td>
                        <td>2700
</td>
                     </tr>
                     <tr>
                      
                        <td>795</td>
                        <td>Total Benefits</td>
                        <td>10000

</td>
                     </tr>

                     <tr>
                       
                        <td>510
</td>
                        <td>Taxable pay
</td>
                        <td>500</td>
                     </tr>
                     <tr>
                       
                        <td>520

</td>
                        <td>Personal relief

</td>
                        <td>1280
</td>
                     </tr>
                  </tbody>
               </table>
            </div>




      <!-- <hr class="hidden-print" /> -->
      <!-- <div class="clearfix">
         <button class="btn btn-info pull-left mr" type="button">Edit</button>
         <button class="btn btn-default pull-left" type="button" onclick="window.print();">Print</button>
         <button class="btn btn-success pull-right" type="button">Send for approval</button>
      </div> -->
   </div>
</div>
               <ul class="pager">
                  <li class="previous">
                     <a href="" ng-click="wizard.go(1)">
                        <span>&larr; Previous</span>
                     </a>
                  </li>
                 
               </ul>
            </div>
            <!-- END Wizard Step inputs-->
            <!-- START Wizard Step inputs-->
      
            <!-- END Wizard Step inputs-->
         </div>
      </section>
   </div>
</div>
<!-- END panel-->




<!-- <h3>Employee details
   <small>Payroll Details</small>

  <div class="clearfix">
         <button class="btn btn-primary pull-right mr" type="button">
      <em class="fa fa-plus-circle fa-fw mr"></em>Batch Entry</button>
        
      </div>
</h3>

<div class="container-fluid" ng-controller="EmployeesController">


<div class="panel panel-default">
   <div class="panel-heading">Setup new employee</div>
   <div class="panel-body">
  
      <form form-wizard="" steps="2"  name="wizardValidation" ng-submit="submitEmpMaster()">
         <div id="wizard" class="form_wizard wizard_horizontal">

   

            <ul class="wizard_steps">
                        <li >
                          <a ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                           Run Payroll
                                             
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a  ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                          Preview Payroll
                                          </span>
                          </a>
                        </li>
                      

                     
                       
                      </ul>
                     
         
            <div id="step1" ng-show="wizard.active(1)">
 
            
      <div class="row mb-lg companydetails">
         <div class="col-lg-6 col-xs-6  pv">
            <div class="row">
               
               <div class="col-md-10">
             
           
            <div class="clearfix">
               <p class="pull-left mr"><b>Pay period</b> </p>
               <p class="pull-left mr">May 2017</p>
              
            </div>
          
                  </div>
            </div>
         </div>
         </div>

        
         <div class="col-md-4">
         <div class="clearfix1">
        
         <button class="btn btn-success pull-left" type="button">process</button>
    
         </div>
         </div>
        


               <ul class="pager">
                  <li class="next"><a href="" ng-click="wizard.go(2)">Next<span>&rarr;</span></a>
                  </li>
               </ul>
               <ul class="pager">
                  <li class="next"><a href="" ng-click="wizard.go(2)">Next<span>&rarr;</span></a>
                  </li>
               </ul>
            </div>
      
            <div id="step2" ng-show="wizard.active(2)">
              <div class="row">
   <div class="col-md-12">
 
      <div class="panel panel-default">
         <div class="panel-heading">
 
         </div>
         <div class="panel-body">
         <div class="row" ng-controller="ModalController as  mod">
         <div class="form-group " >
                  <label class="col-lg-2 control-label">Pay Slips
                   </label>
                  <div class="col-lg-2">
                   
                    <a class="btn btn-primary"  ui-sref="app.process" ui-sref-active="active">View</a>
                  </div>
                  </div>

               </div>
             <br/>
                <div class="row" ng-controller="ModalController as  mod">
         <div class="form-group " >
                  <label class="col-lg-2 control-label">Company Totals
                   </label>
                  <div class="col-lg-2">
                    <a class="btn btn-primary"  ui-sref="app.ctotals-review" ui-sref-active="active">View</a>
                  </div>
                  </div>

               </div>
               <br/>
                <div class="row" ng-controller="ModalController as  mymod">
      <div class="form-group">
                  <label class="col-lg-2 control-label">Company Summary
                   </label>
                  <div class="col-lg-2">
                     <a class="btn btn-primary"  ui-sref="app.csummary-review" ui-sref-active="active">View</a>
                  </div>
               </div>
                            
            
     
   </div>
         


              
               <br/>
               
            <br/>
           
          

         <button class="btn btn-success pull-left mr" type="button">send for approval</button>

          <button class="btn btn-info pull-left mr" type="button">Back to processing</button>
      </div>
         </div>
      </div>

   </div>

   
               <ul class="pager">
                  <li class="previous">
                     <a href="" ng-click="wizard.go(1)">
                        <span>&larr; Previous</span>
                     </a>
                  </li>
                  <li class="next"><a href="" ng-click="wizard.go(3)">Next<span>&rarr;</span></a>
                  </li>
               </ul>
            </div>
        
        

         </div>
      </form>
   </div>
</div>
</div>
 -->