<h3>Schedules</h3>

<div ng-controller="SchedulerController">

    <div class="panel panel-default" id="panelDemo15">
         <div class="panel-heading"></div>
         <div class="panel-body">
            <uib-tabset type="pills">
          

               
                 <uib-tab heading="Period Based"> 



  <div class="panel panel-widget" id="panelDemo14">
       
         <div class="panel-body">
         	 <div class="panel-heading bg-gray-lighter  text-bold"> Headers</div>
            <uib-tabset>
               <uib-tab heading="Company Details">     <div class="panel-body">

<!-- <tr ng-repeat="item in details.company">
<td>{{item.action}}</td>
<td>{{item.done}}</td>
</tr>
        -->        
           <div class="form-group" ng-repeat="item in details.company">
               <label class="col-sm-3 control-label">{{item.name}}</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" ng-model="id" ng-true-value="{{item.id}} " ng-change="selectedCompanyattribute(id)"  />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

           <!--   <div class="form-group">
               <label class="col-sm-3 control-label">Company PIN</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div> -->
             <!-- <div class="form-group">
               <label class="col-sm-3 control-label">NSSF Number</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div> -->
             <!-- <div class="form-group">
               <label class="col-sm-3 control-label">Pension Number</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div> -->

             
               </div></uib-tab>
               <uib-tab heading="Periods" >
               	     <div class="panel-body" >
                        <div class="periodList" style="max-height: 300">
                  <div class="form-group" ng-repeat="period in periods">
               <label class="col-sm-3 control-label">{{period.month}} {{period.year}}</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" ng-model="name" ng-true-value=" {{period.id}} "  ng-change="selectedPeriod(name)"/>
                        <span class="fa fa-check"></span></label>

                  </div>
                
               </div>

 name here {{selectP}}
            </div>

            
                  
            
            </div>

        
             
               </div>

               </uib-tab>

 period :{{selectP}}
                 <!--   <uib-tab heading="Periods">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat , sunt in culpa qui officia deserunt mollit anim id est laborum.</uib-tab> -->
            
            </uib-tabset>



<div class="panel b">
   <div class="panel-heading bg-gray-lighter text-bold">Columns
  
   </div>
   <div class="panel-body">
     <div class="container-md">
   <div class="row">
      <div class="col-md-3">
         <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">Columns</div>
            <div class="list-group" ng-init="settingActive = 1"><a class="list-group-item" href="" ng-click="settingActive=1" ng-class="{'active': (settingActive == 1)}">Employee</a><a class="list-group-item" href="" ng-click="settingActive=2" ng-class="{'active': (settingActive == 2)}">Category</a><a class="list-group-item"
               href="" ng-click="settingActive=3" ng-class="{'active': (settingActive == 3)}">Departments</a><a class="list-group-item" href="" ng-click="settingActive=4" ng-class="{'active': (settingActive == 4)}">Cost Centers</a><a class="list-group-item"
               href="" ng-click="settingActive=5" ng-class="{'active': (settingActive == 5)}">Payroll Codes</a>

               <a class="list-group-item"
               href="" ng-click="settingActive=6" ng-class="{'active': (settingActive == 6)}">Totals</a>
            </div>
         </div>
      </div>
      <div class="col-md-9">
         <div ng-show="settingActive == 1">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Employee Details</div>
               <div class="panel-body">
             
                    <table class="table table-bordered-white " >
            <thead>
               <tr><th>Employee Atributes</th>
                    <th>Add to colums</th>
                     <th>Total Numeric Field</th>
               
                 
                 
               </tr>
            </thead>
            <tbody >
               <tr>
                  <td >First Name</td>
            
                  <td><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div></td>

                    
               </tr>
               

                <tr>
                  <td >Last Name</td>
            
                  <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div></td>

                    
               </tr>

                <tr>
                  <td >Payroll Number</td>
            
                  <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div></td>

                 
               </tr>
                <tr>
                  <td>Pension Number</td>
            
                  <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div></td>

                  
               </tr>


                <tr>
                  <td>Basic Pay</td>
            
                  <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div></td>

                   <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div></td>  
               </tr>
              
             
            
            </tbody>
         </table>
             
               </div>
            </div>
         </div>
         <div ng-show="settingActive == 2">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Category</div>
               <div class="panel-body">
                     <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>
            </div>
            
         </div>
         <div ng-show="settingActive == 3">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold" >Departments</div>
               <div class="panel-body">
                      <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>
              
            </div>
         </div>
         <div ng-show="settingActive == 4">
  <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Cost Centers</div>
               <div class="panel-body">
                     <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>
              
            </div>
         </div>
         <div ng-show="settingActive == 5">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Payroll Codes</div>
               <div class="panel-body">
                    <table class="table table-bordered-white " >
            <thead>
               <tr><th>Payroll Code</th>
                    <th>Description</th>
               
                 
                 
               </tr>
            </thead>
            <tbody >
               <tr>
                  <td >E001</td>
                  <td >Basic Pay</td>
                  <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div></td>
                 
                  
                 
                
               </tr>
               
              
             
            
            </tbody>
         </table>
               </div>
            </div>
         </div>



         <div ng-show="settingActive == 6">
  <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Totals</div>
               <div class="panel-body">
               	<div class="panel-heading text-bold" style="width: 50%"><h4>Columns to Total</h4></div>
                <div class="form-group">
               <label class="col-sm-3 control-label">Employee Pension</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span> </label>
                  </div>
                   </div>

               </div>

               <label class="col-sm-3 control-label">Company Pension</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span> </label>
                  </div>
                   </div>

               </div>
              
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
</div>


         </div>
      </div>


                 </uib-tab>
               

                 <uib-tab heading="Employee Based">
            

        

  <div class="panel panel-widget" id="panelDemo14">
       
         <div class="panel-body">
         	 <div class="panel-heading bg-gray-lighter  text-bold"> Headers</div>
            <uib-tabset>
               <uib-tab heading="Company Details">     <div class="panel-body">
                  <div class="form-group">
               <label class="col-sm-3 control-label">Company Name</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             <div class="form-group">
               <label class="col-sm-3 control-label">Company PIN</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
             <div class="form-group">
               <label class="col-sm-3 control-label">NSSF Number</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
             <div class="form-group">
               <label class="col-sm-3 control-label">Pension Number</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             
               </div></uib-tab>
               <uib-tab heading="Employee">
               	     <div class="panel-body">
     <div class="container-md">
   <div class="row">
      <div class="col-md-3">
         <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">Header</div>
            <div class="list-group" ng-init="settingActive = 1"><a class="list-group-item" href="" ng-click="settingActive=1" ng-class="{'active': (settingActive == 1)}">Employee</a><a class="list-group-item" href="" ng-click="settingActive=2" ng-class="{'active': (settingActive == 2)}">Category</a><a class="list-group-item"
               href="" ng-click="settingActive=3" ng-class="{'active': (settingActive == 3)}">Departments</a><a class="list-group-item" href="" ng-click="settingActive=4" ng-class="{'active': (settingActive == 4)}">Cost Centers</a>

            </div>
         </div>
      </div>
      <div class="col-md-9">
         <div ng-show="settingActive == 1">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Employee Details</div>
               <div class="panel-body">
                  <div class="form-group">
               <label class="col-sm-3 control-label">Payroll Number</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             <div class="form-group">
               <label class="col-sm-3 control-label">First Name</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
             <div class="form-group">
               <label class="col-sm-3 control-label">Last Name</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
             <div class="form-group">
               <label class="col-sm-3 control-label">ID Number</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

            <div class="form-group">
               <label class="col-sm-3 control-label">Pension Number</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
             
               </div>
            </div>
         </div>
         <div ng-show="settingActive == 2">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Category</div>
               <div class="panel-body">
                <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

            <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>


            </div>
            
         </div>
         <div ng-show="settingActive == 3">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold" >Departments</div>
            <div class="panel-body">
                <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

            <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>
            </div>
         </div>
         <div ng-show="settingActive == 4">
  <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Cost Centers</div>
               <div class="panel-body">
                <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

            <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>
              
            </div>
         </div>
      
      </div>
   </div>
</div>
   </div>
               </uib-tab>

                 <!--   <uib-tab heading="Periods">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat , sunt in culpa qui officia deserunt mollit anim id est laborum.</uib-tab> -->
            
            </uib-tabset>



<div class="panel b">
   <div class="panel-heading bg-gray-lighter text-bold">Columns
  
   </div>
   <div class="panel-body">
     <div class="container-md">
   <div class="row">
<div class="schedule">
      <div class="col-md-3">
         <div class="panel b">

            <div class="panel-heading bg-gray-lighter text-bold">Columns</div>
            <div class="list-group" ng-init="settingActive = 1"><a class="list-group-item" href="" ng-click="settingActive=1" ng-class="{'active': (settingActive == 1)}">Payroll Code Details</a><a class="list-group-item" href="" ng-click="settingActive=2" ng-class="{'active': (settingActive == 2)}">Payroll Codes</a><a class="list-group-item"
               href="" ng-click="settingActive=3" ng-class="{'active': (settingActive == 3)}">Periods</a>
            </div>
         </div>
      </div>
      <div class="col-md-9">
         <div ng-show="settingActive == 1">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Payroll Code Details</div>
               <div class="panel-body">
                  <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
             <div class="form-group">
               <label class="col-sm-3 control-label">Recurrent</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
             <div class="form-group">
               <label class="col-sm-3 control-label">Formula</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

         
             
               </div>
            </div>
         </div>
         <div ng-show="settingActive == 2">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Payroll Codes</div>
               <div class="panel-body">
                  <table class="table table-bordered-white " >
            <thead>
               <tr><th>Payroll Code</th>
                    <th>Description</th>
               
                 
                 
               </tr>
            </thead>
            <tbody >
               <tr>
                  <td >E001</td>
                  <td >Basic Pay</td>
                  <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div></td>
                 
                  
                 
                
               </tr>
               
              
             
            
            </tbody>
         </table>
               </div>
            </div>
            
         </div>
         <div ng-show="settingActive == 3">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold" >Periods</div>
               <div class="panel-body">
                  <div class="form-group">
               <label class="col-sm-3 control-label">February 2017 </label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox"   value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
             <div class="form-group">
               <label class="col-sm-3 control-label">February 2017 </label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
            
               </div>
              
            </div>
         </div>
        
      </div>
  </div>
   </div>
</div>
   </div>
</div>


         </div>
      </div>


 
                 </uib-tab>



<!-- 
  <uib-tab heading="Tasks">
            

      <div  ng-include="'app/views/task.html'"> </div>
</uib-tab> -->
            </uib-tabset>
         </div>
      </div>

 
         <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Report preview</h3>
         </div>
         <div class="panel-body">
           

 <div class="col-sm-4">
            <table class="table table-striped table-bordered table-hover">
                  
                  <tbody>
                     <tr ng-repeat="item in companyDetails">
                        <td>{{item.name}}</td>
                        <td>{{item.value}}</td>
                      
                     </tr>

                     <tr>
                        <td>Period</td>
                        <td>{{periodname}}</td>
                       
                     </tr>
                    
                  </tbody>
               </table>


         
       
          </div>

                <table class="table table-striped table-bordered table-hover">
                  
                  <tbody>
                     <tr>
                        <td  ng-repeat="column in selectedColumns">{{column.name}}</td>
                      
                      
                     </tr>

                    
                    
                  </tbody>
               </table>
         </div>
      </div>

</div>